* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 15px;
}

.header-container p {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header-container ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-container li {
  list-style: none;
}

.header-container a {
  color: #c5c5c5;
  font-size: 18px;
  text-decoration: none;
}

.hero-content-container {
  display: flex;
  align-items: center;
  width: 900px;
  gap: 20px;
  padding: 90px 0;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
}

.hero-text-container h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text-container p {
  font-size: 18px;
  color: #c5c5c5;
}

.hero-container button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.hero-content-container img {
  width: 600px;
  height: 200px;
  object-fit: cover;
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 10px;
}

.content-container h2 {
  font-size: 36px;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.card {
  width: 150px;
  text-align: center;
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card p {
  color: #4a4a4a;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-text-container {
  width: 900px;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote-text-container h3 {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote-text-container p {
  font-size: 24px;
  align-self: flex-end;
}
